<p style="color: green"><%= notice %></p>

<h1>Quests</h1>

<div id="quests">
  <% @quests.each do |quest| %>
    <%= quest.title %>
    <p>
      <%= link_to "Show this quest", quest %>
    </p>
  <% end %>
</div>

<%= link_to "New quest", new_quest_path %>
